.base {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.header,
footer {
    height: 20%;
    border: 1px solid red;

}

.block_picture {
    width: 50%;
}

.picture {
    width: 100%;
}

.head {
    display: flex;
    justify-content: center;

}

.block_choise {
    background-color: rgb(255, 175, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.size,
.block_pack {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.block_byu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.fonts {
    font-size: larger;
    font-style: italic;
    color: rgb(2, 101, 106);
    margin-left: 15px;
}

.block_more-gap {
    margin-left: 25px;
}

.block_byu-summ {
    margin-left: 15px;
}

.c-button {

    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

.c-button:hover {
    background: #1d49aa;
}

.c-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.a-button {

    min-width: 100px;
    height: 100%;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #f10606;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

.a-button:hover {
    background: #e94242;
}

.a-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}