*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Prata-Regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/Prata-Regular.ttf') format('ttf');
      
}

@font-face {
    font-family: 'Pacifico-Regular';
    font-style: cursive;
    font-weight: 400;
    src: local(''),
        url('../../fonts/Pacifico-Regular.ttf') format('ttf');
      
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/Roboto-Regular.ttf') format('ttf');
      
}

/*Переменные для всего проекта*/

$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;


$font-family-serif: 'Prata', serif;
$font-family-sans-serif: 'Roboto', normal, sans-serif;
$font-family-titles: 'Pacifico', cursive;
$font-family-button: 'Prata', normal, serif;
//$container-max-width: 1296px;


$color-main: rgb(243, 220, 206);
$text-color: black;
$button-color:  #0093a2;



$pink-hover: #ff3672;
$font-size-main: 20px;
$font-size-button: 18px;
$font-size-main-mobile: 22px;
$font-size-footer: 16px;
$font-size-xxl: 36px;
$font-size-section-titles: 36px;



/* Классы и стили, общие для всего проекта */

* html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
    background-color: $color-main;   
}

body {
    max-width: 1920px;
    margin: 0;
}


a {
    text-decoration: none;
}


header,
main,
section,
footer {
    //max-width: $container-max-width;
    margin: 0;
}


 /* styles for блок-хедер START*/
 /*.header {
    max-width: 100%;
    height: 180px;
    background: white;
    color: black;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

    &__logo-img {
        width: 140px;
        //position: absolute;
        //right: 10px;
       // top: 10px;
    }

    &__phrase {
        font-family: 'Pacifico', cursive;
        padding-left: 30px;
        font-size: 3rem;    
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        font-family: 'Prata', normal;
        font-size: medium;
        color: black;
    }

    &__item_delivery,
    &__item_payment,
    &__item_contact,
    &__item_basket {
        color: black;
       font-family: 'Prata', normal;
       font-size: larger;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 15px;
        text-align: center;
    }

    &__item_delivery:hover,
    &__item_payment:hover,
    &__item_contact:hover,
    &__item_basket:hover {
        background: rgb(245, 194, 164);
    }

    &__item_basket {
        
        border: 2px solid rgb(245, 194, 164);
        border-radius: 5px;
        padding: 10px 15px;
        text-align: center;
}}*/


 /* styles for каталог START*/

.catalog {
    width: 94vw;
    background-color: $color-main;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: 4px solid white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
   
    &__all-flowers,
    &__bouquets,
    &__baskets,
    &__roses {
        width: 12vw;
        height: 5vh;
        border-radius: 16px;
        border: 1px solid white;
        margin-top: 1rem;
        background: white;
        font-family: $font-family-button;
        font-size: large;
        font-weight: 600;
        color: $text-color;
        cursor: pointer; 
       }

    &__all-flowers:hover,
    &__bouquets:hover,
    &__baskets:hover,
    &__roses:hover {
           background: $pink-hover;
       }
}

.categoryNameContainer {
    width: 100%;
   margin: 20px;
   text-align: center;
  
}

#category_name {
    font-size: $font-size-section-titles;
    font-family: $font-family-titles;
    font-weight: 800;
}

.flowersContainer {
    font-family: $font-family-titles;
    font-size: 1.8rem;
    font-weight: 600;
    color: $text-color;
}

#flowersContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.flowers_photo_container {
   
    align-items: center;
    height: auto;
    overflow: hidden;
  
}

.flowers_photo_container:hover img {
    transform: scale(1.4);
  }

.flowers_photo {
    width: 98%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    transition: transform 1s;
   
}

.flowers_card {
    padding:10px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 20px;
    align-items: center;
    width: 20vw;
    font-family:'Prata', normal;
    font-size: medium;
    position: relative;
    font-family: $font-family-sans-serif;
  
}



.flowers_describe_container {
   
   width: 90%;
   height: auto;
   
    //position: relative;
  
}

.flower_price {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: $font-family-sans-serif;
}

.flower_description {
    font-size: 18px;
    font-family: $font-family-sans-serif;
}

.button_basket_container {
    width: 94%;
    position: absolute;
    bottom: 10px;
}

.button_basket {
    width: 100%;
    height: 46px;
    background-color: $button-color;
    color: white;
    border-radius: 6px;
    border: 0px;
    position: relative;
    font-family: $font-family-sans-serif;
    font-size: $font-size-button;
}

.button_basket:active {
    bottom: -2px;
}

.hide {
    display: none
}



 /* styles for каталог END*/


/* <style>
   .scale {
    display: inline-block; /* Строчно-блочный элемент */
 //   overflow: hidden; /* Скрываем всё за контуром */
  // }
 //  .scale img {
//    transition: 1s; /* Время эффекта */
 //   display: block; /* Убираем небольшой отступ снизу */
 //  }
  // .scale img:hover {
  //  transform: scale(1.2); /* Увеличиваем масштаб */
  // }
 /* </style>
 </head>
 <body>
  <div class="scale"><img src="image/meduza1.jpg" alt="" class="scale"></div>
  <div class="scale"><img src="image/meduza2.jpg" alt="" class="scale"></div>
  <div class="scale"><img src="image/meduza3.jpg" alt="" class="scale"></div>
 </body>
</html>*/